<!-- Oksana Koshulap, 301167025, June 4, 2021-->



<%- include partials/header.ejs %> 


<%- include partials/main_nav.ejs %>   


<!--Main content -->
<main class="container"> 
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page!</h1>
    </div>
</main>  
 
 <!-- home content-->
 <% if (title == 'Home') {%> 
  <%- include content/c_home.ejs %> <% }%> 

<!-- about content -->
 <% if (title == 'About') {%> 
  <%- include content/c_about.ejs %> <% }%> 

<!-- about pro -->
 <% if (title == 'About') {%> 
  <%- include content/c_about.ejs %> <% }%> 


<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 



