<!-- Team: Group 8
  Web site name : Pandora-Survey
  Date : July 18, 2021
  Author's names & Student IDs:
  Oksana Koshulap: 301167025
  Remedios Meneses: 300691712
  Anmary Gain: 301152014 
  Tesmine Poulose: 301151876
  Sapna: 301152192 -->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  
<!-- list contacts view -->

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            

            <br>
            <br>
            <div class="table-responsive">
            <table class="table table-dark table-sm table-bordered table-striped table-hover  ">
                <!-- Header Row-->
                <tr>
                  
                    <th class="text-center col-2">Question</th>
                    <th class="text-center col-2">Answer</th>
                    <th class="text-center col-4">Pdf</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                   
                 

                </tr>
              
                <!-- Repeatable Template Row  that lists contacts alphabetically -->
                <% for(let count = 0; count <QuestionsList.length; count++) { %>
                    <tr>
                       
                         <td class="text-center col-2"><%= QuestionsList[count].question %></td> 
                          <td class="text-center col-2"><%= QuestionsList[count].questionsAnswer%> </td>
                     
                                    <td class="text-center col-1">
                                    <% if(typeof displayName == 'string' && displayName) { %>
                                    <a href="/survey-list/edit/<%= QuestionsList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Update Details</a></td><%} %>
                                    <td class="text-center col-1">
                                     <% if(typeof displayName == 'string' && displayName) { %>
                                    <a href="/survey-list/delete/<%= QuestionsList[count]._id %>" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete</a><%} %>
                                     <td class="text-center col-1">
                                       <% if(typeof displayName == 'string' && displayName) { %>
                                     <a href="/survey-view/create/<%= QuestionsList[count]._id %>" class="btn btn-info btn-sm">
                                    <i class="fas fa-plus"></i> Add Questions </a></td> <%} %>
                               
                                     <td class="text-center col-1">
                                    <a  href="/survey-view"class="btn btn-success btn-sm">
                                    <i class="fas fa-search"></i> Start Survey</a></td>
                                    
                        </td></tr>
                       
                <% } %>
            </table>
            </div>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  


