<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>



<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <div class="table-responsive">
            <table class="table table-primary table-sm table-bordered table-striped table-hover  ">
                     <tr>
                  
                    <th class="text-center col-4">Question</th>
                    <th class="text-center col-3">Question Type</th>

                </tr>
             
               <td class="text-center col-4">
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Question 1</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter survey name"
                    name="question" required>
                </div>
                 <tr class="text-center col-4">
                <div class="form-group">
                    <label for="nameTextField">Question 2</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter survey name"
                    name="question" required>
                </div>
                </tr>
                
                <div class="form-group">
                    <label for="nameTextField">Question 3</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter survey name"
                    name="question" required>
                </div>
                 <div class="form-group">
                    <label for="nameTextField">Question 4</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter survey name"
                    name="question" required>
                </div>

                    <br><br>
                
                 <a  href="/survey-view" > <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Generate Survey</button> </a> 
                
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
            </tr>
               </table>
        </div>
        </div>


    </div>
</div>





<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  