<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>



<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <div class="table-responsive">
            <table class="table table-primary table-sm table-bordered table-striped table-hover  ">
                <tr>
                  
                    <th class="text-center col-4">Question</th>
                    <th class="text-center col-5">Question Type</th>

                </tr>
               <tr class="text-center col-1">
               <td>  <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Question 1</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter question"
                    name="question" required>
                </div>
                 </td>
                 <td>
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Short Answer</button>
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> T/F </button>
              
                <td></td>
                </tr>
                
                
               

                    <br><br>
                
                

            </form>
            </tr>
               </table>
                <a  href="/survey-view" > <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Generate Survey</button> </a> 
                
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
        </div>
        </div>


    </div>
</div>





<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  