<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>



<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <div class="table-responsive">
            <table class="table table-primary table-sm table-bordered table-striped table-hover  ">
                <tr>
                  
                    <th class="text-center col-4">Question</th>
                    <th class="text-center col-3">Question Type</th>

                </tr>

               <tr class="text-center col-4">
               <td>  <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Question 1</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter survey name"
                    name="question" required>
                </div>
                 </td>
                 <td>
                 <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Type1</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter survey name"
                    name="question" required>
                </div>
                <td>
                </tr>
                
               </table>
        </div>
        </div>


    </div>
</div>





<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  