<!-- Oksana Koshulap, 301167025, June 18, 2021-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  
<!-- list contacts view -->

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>

            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/business-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add New Contact</a>
            <%} %>

            <br>
            <br>
            <div class="table-responsive">
            <table class="table table-dark table-sm table-bordered table-striped table-hover  ">
                <!-- Header Row-->
                <tr>
                  
                    <th class="text-center col-2">Contact Name</th>
                    <th class="text-center col-2">Contact Number</th>
                    <th class="text-center col-4">Email Address</th>
                    <% if(typeof displayName == 'string' && displayName) { %>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                      <%} %>

                </tr>

                <!-- Repeatable Template Row  that lists contacts alphabetically -->
                <% for(let count = 0; count <BusinessList.length; count++) { %>
                 <%BusinessList.sort((a,b)=> (a.nameCustomer<b.nameCustomer)*-1);%> 
                    <tr>
                        <td class="text-center col-2"><%= BusinessList[count].nameCustomer %> </td>
                        <td class="text-center col-2"><%= BusinessList[count].numberCustomer %></td>
                        <td class="text-center col-4"><%= BusinessList[count].emailCustomer %></td>
                        <% if(typeof displayName == 'string' && displayName) { %>
                                    <td class="text-center col-1">
                                    <a href="/business-list/edit/<%= BusinessList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Update</a></td>
                                    <td class="text-center col-1">
                                    <a href="/business-list/delete/<%= BusinessList[count]._id %>" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Delete</a>
                                      <%} %>
                        </td></tr>
                       
                <% } %>
            </table>
            </div>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  


