<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>






<!-- view survey should have submit button--> 
<p> New surveys</p>


<!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            

            <br>
            <br>
            <div class="table-responsive">
            <table class="table table-dark table-sm table-bordered table-striped table-hover  ">
                <!-- Header Row-->
                <tr>
                  
                    <th class="text-center col-2">Survey Name</th>
                    <th class="text-center col-2">Author Number</th>
                    <th class="text-center col-4">Number of questions</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                 

                </tr>

            
              
            </table>
            </div>
        </div>
    </div>
  </main>



<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  